@import "mixins";

body {
    .form-control {
        color: white;
    }

    .form-floating {
        textarea.form-control {
            height: auto;
            resize: none;
        }

        & > label,
        & > textarea:focus~label::after,
        & > textarea:not(:placeholder-shown)~label::after {
            color: white;
        }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

    .filter-wrapper {
        position: relative;

        .filter-reset {
            position: absolute;
            right: 0;
            top: 7px;
            padding-right: 7px;
        }
    }

    .all-filter-reset {
        margin-top: .45rem;
    }
}
