// Couleurs
$violet: #6247AA;
$lavender: #a06cd5;

$primary: #008dd5;
$danger: #e43f6f;
$btn-color: white;
$warning: #d4b483;
$success: #159f7b;

// Corps
$body-bg: #231f2a;
$body-color: white;

// Tableaux
$table-color: white;

// Liens
$link-color: $primary;

// Cards
$card-bg: $body-bg;

@import "bootstrap/scss/bootstrap";
