// Couleurs
$violet: #6247aa;
$lavender: #a06cd5;

$primary: #3abeff;
$danger: #f56476;
$warning: #f5b700;
$success: #138a36;

// Corps
$body-bg: #231f2a;
$body-color: white;
$body-secondary-bg: #322d3b;

// Tableaux
$table-color: white;

// Boutons
.btn-primary,
.btn-success,
.btn-danger {
    color: white !important;
}

// Liens
$link-color: $primary;

// Cards
$card-bg: $body-bg;

// Positions
$position-values: (
    0: 0,
    25: 25%,
    50: 50%,
    100: 100%
);

@import "bootstrap/scss/bootstrap";
