@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

@import "mixins";
@import "font_face";
@import "forms";
@import "tables";

:root {
  color-scheme: dark;
}

body {
    font-family: 'Fira Sans Condensed', Helvetica, sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: Instrument, Arial, sans-serif;
    }

    h1 {
        margin: 1rem .5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #8f8e8e;
        font-size: 1.5rem;
    }

    h2 {
        margin: 1rem .5rem;
        font-size: 1.2rem;
    }

    nav.navbar {
        background-color: $violet;

        .nav-link {
            border-radius: 5px;
            color: white;

            &:hover,
            &.active,
            &.dropdown-toggle.show {
                background-color: white;
                color: $violet;
            }
        }
    }

    #main-container {
        padding: 1rem;
        color: white;

        a {
            text-decoration: none;
            color: $lavender;

            &:not(.btn):hover,
            &:not(.btn):active,
            &:not(.btn):focus {
                text-decoration: underline;
            }
        }

        .text-muted {
            color: #e1e0e0 !important;
        }

        .text-small {
            font-size: .6rem;
        }

        .page-item.active .page-link {
            border-color: $lavender;
            background: $lavender;
        }
    }

    fieldset {
        position: relative;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 2.5rem 1rem 1rem;

        legend {
            float: none;
            width: auto;
            position: absolute;
            background: $body-bg;
            top: -1.2rem;
            left: 1rem;
            padding: 0 1rem;
        }
    }
}
